<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
		<add key="Mode" value="sql"/>
		<add key="ConnectionStrings" value="Server=(LocalDb)\MSSQLLocalDB;Database=codecoolshop;Trusted_Connection=True;"/>
	</appSettings>
</configuration>
